/* FONTE E VARIÁVEIS ------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --fonte-montserrat: "Montserrat", sans-serif;
    --fonte-roboto: "Roboto", sans-serif;
    --cor-primaria: #1351d8;
    --cor-secundaria: #1b357e;
    --cor-terciaria: #FDFDFF;
    --cor-hover: #468dde;
}

/* RESETAR ------------------------------------------------------------------- */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

/* HEADER ------------------------------------------------------------------- */
.header {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.nav-header {
    display: flex;
    gap: 40px;
}
.nav-header a {
    text-decoration: none;
    font-family: var(--fonte-montserrat);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cor-primaria);
}
.header-img {
   position: absolute;
   left: 20px;
}

/* MAIN - INDEX ------------------------------------------------------------------- */
.container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5%;
}
.container-index a {
    padding: 1% 0 0 0;
}
.container-index p {
    font-family: var(--fonte-montserrat);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

/* MAIN - LANÇAMENTO ------------------------------------------------------------------- */

/* MAIN - CONTATO ------------------------------------------------------------------- */

/* FOOTER ------------------------------------------------------------------- */
footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}
.footer-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5%;
    gap: 10px;
}
.footer-redes-sociais-titulo {
    font-family: var(--fonte-montserrat);
    font-size: 0.8rem;
    font-weight: 450;
}
.footer-copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--fonte-montserrat);
    font-size: 1rem;
    font-weight: 400;
}
.footer-img {
    position: absolute;
    right: 20px;
}